@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>C# Final Project</h1>
    <p class="lead">This ASP.NET project connects to an SQL Server database and generates models with entity framework, using ADO.NET, and has full C.R.U.D.</p>
    <p>Made by Nicholas Gardner, Breanne Parker, and Nadia Corkum</p>
</div>

