@model IEnumerable<CarDealership3.Models.vehicleType>

@{
    ViewBag.Title = "Index";
}

<h2>Vehicle Types</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Type
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.vehicleTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.vehicleTypeId })
        </td>
    </tr>
}

</table>
